In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("kek.csv")
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [14]:

df['requirement'][7]

'Опыт разработки на Python не менее 3 лет, разработки на >=Python 3.6. Навык работы с SQLAlchemy. Навык работы PostgreSQL. '

In [16]:
df = df.dropna()

In [17]:
df['requirement']

0     Знание языка Python (версия 2 и 3). Опыт работ...
1     Инициативность и целеустремленность. Хорошее з...
2     Bachelor or master degree in STEM field. Exper...
3     Умение читать / писать код на python и С++. Оп...
4     Коммерческий опыт на Python минимум 2-3 года. ...
5     Необходимый опыт и знания: - Широкий опыт разр...
6     Опыт коммерческой разработки на Python от 2-х ...
7     Опыт разработки на Python не менее 3 лет, разр...
8     опыт организации асинхронных API на Celery (Py...
9     Любопытство и жажда знаний. Доброжелательность...
10    Python-разработчик, найдись! Уверенное владени...
11    Знание Python на уровне Middle. Опыт работы в ...
13    Опыт работы: Python(Flask, BeautifulSoup, Spla...
Name: requirement, dtype: object

In [23]:
for j in df['requirement']:
    for i in j.lower().split():
        df[i] = 0

In [25]:
df.head()

,title,href,company,requirement,salary,знание,языка,python,(версия,2,...,работы,с,фреймворками:,tornado,"(async),","flask,",bottle.,написания,sql,запросов.
0,Разработчик Python,https://hh.ru/vacancy/30451399?query=Python,Открытые Технологии,Знание языка Python (версия 2 и 3). Опыт работ...,150000.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Разработчик Python,https://hh.ru/vacancy/31067847?query=Python,ООО Коннектом,Инициативность и целеустремленность. Хорошее з...,160000.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Python / Django developer,https://hh.ru/vacancy/30226206?query=Python,NetworkOptix,Bachelor or master degree in STEM field. Exper...,4000.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Data Engineering Team Lead (Python / C++),https://hh.ru/vacancy/31078426?query=Python,DataFork,Умение читать / писать код на python и С++. Оп...,350000.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Программист Python,https://hh.ru/vacancy/30109493?query=Python,Star-staff,Коммерческий опыт на Python минимум 2-3 года. ...,145000.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0